<form action="" class="form-inline">
    <div class="form-group">
        <label for="status-week">Week</label>
        <select class="form-control" id="status-week">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="status-op">Week</label>
        <select class="form-control" id="status-op">
            <option>Points Given</option>
            <option>Points Earned</option>
        </select>
    </div>
</form>
<div class="row" id="charts-container">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>