<div class="row" id="charts-container">
    <div class="col-sm-6">
        <form action="" class="form-inline" id="status-selector-form">
            <div class="form-group">
                <label for="status-week">Week</label>
                <input type='text' class="form-control" id='weekdatepicker' />
                <span class="add-on"><i class="icon-remove"></i></span>
                <span class="add-on"><i class="icon-th"></i></span>
            </div>
            <script>
                $(function () {
                    $('#weekdatepicker').datetimepicker({
                        format:"dd/M/yyyy",
                        weekStart: 1,
                        startView: "month",
                        minView: "month",
                        maxView: "month",
                        todayBtn: "linked",
                        todayHighlight: true
                    });

                    $('#weekdatepicker').datetimepicker()
                    .on('changeDate', function(ev){
                        console.log("date changed")
                        var selectedDate = moment(ev.date.valueOf()).format("YYYY-MM-DD");
                        getWeeklyDistribution(selectedDate);
                    });
                });
            </script>
        </form>
        <canvas id="pieChart" ></canvas>
    </div>
    <div class="col-sm-6">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="membersList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="membersList" id="memListItems">

            </ul>
        </div>
        <canvas id="lineChart" ></canvas>
    </div>
</div>

