<div class="row">
    <p id="ct_loading_text">Loading data, please be patient...</p>
</div>

<div id="codetracker_container" style="display: none;">
    <div class="row">
        <h4>Current GPA Score: <span id="gpaText"></span></h4>
        <div id="gpaChart"></div>
    </div>
    <div class="row charts-container">
        <div class="col-sm-6">
            <canvas id="addChart"></canvas>
        </div>
        <div class="col-sm-6">
            <canvas id="delChart"></canvas>
        </div>
    </div>

    <hr>

    <div class="row charts-container">
        <div class="row testcov-chart-wrapper">
            <canvas id="testCovChart"></canvas>
        </div>
    </div>
</div>
