<div class="row charts-container">
    <div class="col-sm-6">

        <canvas id="addChart" ></canvas>
    </div>
    <div class="col-sm-6">
        <div class="row" >
            <input type="text" id="github_user" placeholder="GitHub Username">
            <input type="text" id="github_repo" placeholder="GitHub Repo">
            <button type="button" id="btn_testcov">Fire</button>
        </div>
        <canvas id="testCovChart" ></canvas>
    </div>
</div>

<div class="row charts-container">
    <div class="col-sm-6">

        <canvas id="delChart" ></canvas>
    </div>
    <div class="col-sm-6">

        <canvas id="gpaChart" ></canvas>
    </div>
</div>


