<h2>API Integration</h2>
<hr/>
<div class="form-group">
    <label>GitHub Token</label>
    <input id="githubTokenID" type="text" class="form-control">
</div>
<div class="form-group">
    <label>Slack Token</label>
    <input id="slackTokenID" type="text" class="form-control">
</div>
<div class="form-group">
    <label>Slack Channel</label>
    <input id="slackChannelID" type="text" class="form-control">
</div>
<div class="form-group">
    <label>VSTS Access Token</label>
    <input id="vstsToken" type="text" class="form-control">
</div>
<div>
    <button id="tokenSubmitButton" type="button" class="btn btn-default">Submit Token</button>
</div>
<div>
    <p id="settingsResponseText"></p>
</div>
<hr/>
