<div class="row">
    <h2>API Integration</h2>
</div>
<hr/>
<div class="row">
    <div class="form-group">
        <label>GitHub Token</label><span id="statusGitHubToken" title="Submitted" hidden="true">&nbsp;<i class="fa fa-check-circle fa-1" aria-hidden="true"></i></span>
        <input id="githubTokenID" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>GitHub Organisation</label><span id="statudGitHubOrg" title="Submitted" hidden="true">&nbsp;<i class="fa fa-check-circle fa-1" aria-hidden="true"></i></span>
        <input id="githubOrg" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>GitHub Username</label><span id="statudGitHubUser" title="Submitted" hidden="true">&nbsp;<i class="fa fa-check-circle fa-1" aria-hidden="true"></i></span>
        <input id="githubUser" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Slack Token</label><span id="statusSlackToken" title="Submitted" hidden="true">&nbsp;<i class="fa fa-check-circle fa-1" aria-hidden="true"></i></span>
        <input id="slackTokenID" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Slack Channel</label><span id="statusSlackChannel" title="Submitted" hidden="true">&nbsp;<i class="fa fa-check-circle fa-1" aria-hidden="true"></i></span>
        <input id="slackChannelID" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>VSTS Access Token</label><span id="statusVSTSAccessToken" title="Submitted" hidden="true">&nbsp;<i class="fa fa-check-circle fa-1" aria-hidden="true"></i></span>
        <input id="vstsToken" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Codeclimate Token</label><span id="statusCodeclimateToken" title="Submitted" hidden="true">&nbsp;<i class="fa fa-check-circle fa-1" aria-hidden="true"></i></span>
        <input id="codeclimateToken" type="password" class="form-control">
    </div>
</div>

<div class="row">
    <button id="tokenSubmitButton" type="button" class="btn btn-default">Submit Token</button>
</div>
<div class="row">
    <p id="settingsResponseText"></p>
    <hr>
    <p>To delete tokens, just submit empty tokens.</p>
</div>

<!-- <hr/> -->
<!-- <h4>Token Status</h4>
<div id="currentTokenStatus">
    <p>GitHub Token <i class="fa fa-check-circle fa-1" aria-hidden="true" title="Submitted"></i></p>
    <p>Slack Token <i class="fa fa-check-circle fa-1" aria-hidden="true" title="Submitted"></i></p>
    <p>Slack Channel <i class="fa fa-check-circle fa-1" aria-hidden="true" title="Submitted"></i></p>
    <p>VSTS Access Token <i class="fa fa-check-circle fa-1" aria-hidden="true" title="Submitted"></i></p>
</div>
 -->