<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!--     <script src="../js/script.js"></script> -->
    <script src="../js/date.js"></script>
</head>

<body>
    <div>
        <p>Period from: </p>
        <p id="date">
            <script>
                document.getElementById("date").innerHTML = displayFirstAndLastDate();
            </script>
        </p>
        <!--form javascript to generate form-->
        <div id="user_list">
            <div>

            </div>
            <input type="submit" id="submitButton" />
        </div>
        <input type="submit" id="validateButton" value="Validate">
    </div>
    <script src="../js/form.js"></script>
</body>

</html>